.hero {
  background: url(bg.jpg) center center/cover no-repeat;
  background-color: #202726;
  padding: 3em;
  color: white;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
